WORKSPACE_CODE=LMN-PERSONAL

CLOUDFLARE_ACCOUNT_ID=YOUR-CLOUDFLARE-ACCOUNT-ID
CLOUDFLARE_AI_TOKEN=YOUR-CLOUDFLARE-WORKERS-AI-TOKEN
CLOUDFLARE_WHISPER_MODEL=@cf/openai/whisper-large-v3-turbo
CLOUDFLARE_TRANSLATE_MODEL=@cf/meta/m2m100-1.2b
CLOUDFLARE_INTERPRETER_MODEL=@cf/meta/llama-3.1-8b-instruct-fast
